
.testimonial{
    border-left: 4px solid var(--primary);
    box-shadow: 0px .1px 1px var(--black);
    padding: 30px 30px 30px 130px;
    margin: 0 15px 30px 15px;
    overflow: hidden;
    position: relative;
}
.testimonial:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid var(--primary);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
}
.testimonial .pic{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #918686;
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial .title{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary);
    margin: 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 17px;
    color: var(--primary);
}
.owl-theme .owl-controls .owl-page span{
    border: 2px solid var(--primary);
    background: #fff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span{
    background: var(--primary);
}
@media only screen and (max-width: 767px){
    .testimonial{
        padding: 20px;
        text-align: center;
    }
    .testimonial .pic{
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
}